::-webkit-scrollbar {
  width: 5px;
  background-color: black;
}
::-webkit-scrollbar-thumb {
  background-color: tomato;
  border-radius: 25px;
}
/* Style inside the body */
body {
  width: 100%;
  margin: 0;
  padding: 0;
  background-size: cover;
  background-color: black;
}
.flex {
  display: flex;
  flex-wrap: wrap;
}
.box {
  flex: 70%;
  height: 100%;
  text-align: justify;
  color: white;
  font-family: 'Century Gothic', sans-serif;
  padding: 80px;
  width: 100vw;
}
.box-img {
  border-radius: 50%;
  width: 45%;
  height: 45%;
  float: right;
}
.heroText {
  width: 40%;
  font-size: calc(80px + (100 - 80) * ((100vw - 300px) / (1600 - 300)));
  letter-spacing: 2px;
  text-align: left;
}
.box h6 {
  font-size: calc(30px + (30 - 14) * ((100vw - 300px) / (1600 - 300)));
  letter-spacing: 3px;
  color: tomato;
}
.box p {
  text-align: center;
}
.topNavigation {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 50px;
}
/* Style the links inside the navigation bar */
.topNavigation a {
  color: #f2f2f2;
  text-align: center;
  margin-right: 20px;
  margin-left: 20px;
  padding: 0 20px 0 20px;
  text-decoration: none;
  font-size: calc(40px + (30 - 20) * ((100vw - 300px) / (1600 - 300)));
  font-family: 'Century Gothic', sans-serif;
}
/* Change the color of links on hover */
.topNavigation a:hover {
  background-color: tomato;
  color: black;
}
/* Add a color to the active/current link */
.topNavigation a.active {
  font: color black;
}
.row.workHead {
  justify-content: space-between;
  align-items: center;
}
.row.gallerySplit{
  flex-direction: column;
}

.works {
  height: 100%;
  flex: 70%;
  width: 100vw;
  padding: 80px;
}
.works h2 {
  color: white;
  font-size: 60px;
  letter-spacing: 4px;
  font-weight: 100;
  font-family: 'Century Gothic', sans-serif;
}
.line {
  background-color: tomato;
  width: 99%;
  height: 2px;
  align-self: center;
}
.column {
  float: left; /*property is used for positioning and formatting content*/
  width: 100%;
  padding: 5px;
  
}

/*The display property specifies the display behavior of the gallery/images row */
.row {
  display: flex;
}
/*styles inside the gallery/images column*/

.saturate {
  filter: grayscale(100%);
}
.saturate:hover {
  filter: grayscale(0%);
}
/* to display the images title on hover*/
.overlay {
  color: #f1f1f1;
  width: 100%;
  transition: 0.5s ease;
  opacity: 0;
  color: tomato;
  font-size: calc(15px + (20 - 15) * ((100vw - 300px) / (1600 - 300)));
  text-align: center;
  font-family: 'Century Gothic', sans-serif;
}
.column:hover .overlay {
  opacity: 1;
}
.row.aboutHead {
  justify-content: space-between;
  align-items: center;
}
.about {
  flex: 70%;
  height: 100%;
  width: 100vw;
  padding: 80px;
  color: white;
  font-family: 'Century Gothic', sans-serif;
}
.about h2 {
  font-size: 60px;
  letter-spacing: 4px;
  font-weight: 100;
}
.about p {
  text-align: left;
  letter-spacing: 0.5px;
  font-size: calc(30px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
  font-weight: 100;
}
.timeline {
  padding: 20px;
  font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
  justify-content: space-between;
}
.timeline.column {
  width: 50%;
}
.row.timelineSplit {
  justify-content: space-evenly;
}
#t1 {
  border-right: 1px solid tomato;
}
#marg {
  margin-left: 20px;
  margin-top: 140px;
}
#marg2 {
  margin-left: 20px;
  margin-top: 160px;
}
#drop {
  margin-top: 120px;
}
.row.contactHead {
  justify-content: space-between;
  align-items: center;
}
.contact {
  flex: 70%;
  height: 100%;
  width: 100vw;
  padding: 80px;

  color: white;
  font-family: 'Century Gothic', sans-serif;
}
.contact h2 {
  font-size: 60px;
  letter-spacing: 4px;
  font-weight: 100;
}
.contact p {
  text-align: left;
  letter-spacing: 0.5px;
  font-size: calc(30px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
  font-weight: 50;
  width: 100%;
}
/* styles for the google form*/
#form {
  filter: invert(100%);
}
/* styles for the google form ends here*/

/* styles for the fontawesome icons for social-networking*/
.row.contactSplit {
  justify-content: space-between;
}
.contact li {
  margin: 6px;
  list-style: none;
}
.contact li a {
  color: white;
  font-size: 60px;
  text-decoration: none;
}
.contact li a:hover {
  color: tomato;
}
/* styles for the fontawesome icons for social-networking ends here*/

/* styles for the bottom navigation icon*/
.contact .botnav a {
  float: right;
  color: white;
  font-size: 40px;
  text-decoration: none;
  margin-top: 15vw;
}
.botnav a:hover {
  color: tomato;
}
/* styles for the bottom navigation icon ends here*/

/*mobile screens*/

@media only screen and (max-width: 680px) {
  .box-img {
    justify-content: center;
  }
  
}
@media only screen and (min-width: 680px) {
  .box-img {
    justify-content: center;
  }
  
 
}
/*tablet and pc*/
@media only screen and (min-width: 992px) {
   .topNavigation{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 10px;
    margin-right: 80px;

  }
  .topNavigation a{
    font-size: calc(20px + (30 - 20) * ((100vw - 300px) / (1600 - 300)));
  }
  .column {
  float: left; /*property is used for positioning and formatting content*/
  width: 33.3%;
  padding: 5px;
}
.row.gallerySplit{
  flex-direction: row;
}
}
@media only screen and (min-width: 1200px) {
   
}
@media only screen and (min-width: 1600px) {
   
}
